---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=Lana%20Del%20Rey%20Video%20Games
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 89, "limit": 100, "offset": 0, "query":
        "Lana Del Rey Video Games", "type": "track", "page": 1}, "tracks": [{"album":
        {"released": "2011", "href": "spotify:album:52welJVXcRq95bPK94cp4m", "name":
        "Video Games", "availability": {"territories": "AU BE CN CZ DK EE ES FI FR
        HK HR HU IL IN IT LT LV MY NL NO NZ PL PT RU SG SK TH TR TW UA ZA"}}, "name":
        "Video Games", "popularity": "0.79882", "external-ids": [{"type": "isrc",
        "id": "GBUM71107964"}], "length": 284.5, "href": "spotify:track:0lpdriQ7fB7zahU2f0btrv",
        "artists": [{"href": "spotify:artist:00FQb4jTyendYWaN8pK0wa", "name": "Lana
        Del Rey"}], "track-number": "1"}, {"album": {"released": "2012", "href": "spotify:album:4F5dVhgk569Du5cLfal3t5",
        "name": "Born To Die", "availability": {"territories": "AU BE CN CZ DK EE
        ES FI FR GB HK HR HU IE IN IT LT LV MY NL NO NZ PL PT RU SE SG SK TH TW UA
        ZA"}}, "name": "Video Games - Album Version Remastered", "popularity": "0.79477",
        "external-ids": [{"type": "isrc", "id": "GBUM71111621"}], "length": 281.946,
        "href": "spotify:track:7FDHI71Z3IInsEKuUn7Df8", "artists": [{"href[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=kaizers%20orchestra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 383, "limit": 100, "offset": 0, "[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=Video%20Games%20Lana%20Del%20Rey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 89, "limit": 100, "o[...]
