---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=11&q=kaizers%20orchestra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 383, "limit": 100, "offset": 1000, "query":
        "kaizers orchestra", "type": "track", "page": 11}, "tracks": []}'
  recorded_at: Fri, 15 Jun 2012 19:08:33 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=kaizers%20orchestra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 383, "limit": 100, "offset": 0, "query":
        "kaizers orchestra", "type": "track", "page": 1}, "tracks": [{"album": {"released":
        "2012", "href": "spotify:album:5AN6A9IR1g1xRgY0RoKOsT", "name": "Hjerteknuser",
        "availability": {"territories": "NO"}}, "name": "Hjerteknuser", "popularity":
        "0.67432", "external-ids": [{"type": "isrc", "id": "NOHDL1002070"}], "length":
        199.16, "href": "spotify:track:6dKWi7apHjn2W7Ojncv4Wu", "artists": [{"href":
        "spotify:artist:1s1DnVoBDfp3jxjjew8cBR", "name": "Kaizers Orchestra"}], "track-number":
        "1"}, {"album": {"released": "2012", "href": "spotify:album:0IzOqSIx2qvjQDR7dVKx0q",
        "name": "Dr\u00f8m videre Violeta", "availability": {"territories": "NO"}},
        "name": "Dr\u00f8m videre Violeta", "popularity": "0.58228", "external-ids":
        [{"type": "isrc", "id": "NOHDL1101040"}], "length": 208.186, "href": "spotify:track:2PAmrCTaTZ0zRYBGVzUxyZ",
        "artists": [{"href": "spotify:artist:1s1DnVoBDfp3jxjjew8cBR", "name": "Kaizers
        Orchestra"}], "track-numb[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/album.json?page=1&q=kaizers%20orchestra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 55, "limit": 100, "offset": 0, "query":
        "kaizers orchestra", "type": "album", "page": 1}, "albums": [{"name": "Hjerteknuser",
        "popularity": "0.64891", "external-ids": [{"type": "upc", "id": "886443444126"}],
        "href": "spotify:album:5AN6A9IR1g1xRgY0RoKOsT", "artists": [{"href": "spotify:artist:1s1DnVoBDfp3jxjjew8cBR",
        "name": "Kaizers Orchestra"}], "availability": {"territories": "NO"}}, {"artists":
        [{"href": "spotify:artist:1s1DnVoBDfp3jxjjew8cBR", "name": "Kaizers Orchestra"}],
        "href": "spotify:album:3X9sIttglnkMeSE9iMbZPP", "availability": {"territorie[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=jason%20derulo%20undefeated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 2, "limit": 100, "offset"[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=string
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 78131, "limit": 100, "offset": 0, "query":
   [...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/artist.json?page=1&q=kaizers%20orchestra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "kaizers
        orchestra", "type": "artist", "page": 1}, "artists": [{"href": "spotify:artist:1s1DnVoBDfp3jxjjew8cBR",
        "name": "Kaizers Orchestra", "popularity": "0.48369"}]}'
  recorded_at: Fri, 15 Jun 2012 19:10:26 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 8011, "limit": 100, "offset": 0, "query":
    [...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=d41d8cd98f00b204e9800998ecf8427e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "d41d8cd98f00b204e9800998ecf8427e",
        "type": "track", "page": 1}, "tracks": []}'
  recorded_at: Fri, 15 Jun 2012 19:11:47 GMT
recorded_with: VCR 2.2.2
