---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=Lana%20Del%20Rey%20Video%20Games
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 89, "limit": 100, "offset": 0, "query":
        "Lana Del Rey Video Games", "type": "track", "page": 1}, "tracks": [{"album":
        {"released": "2011", "href": "spotify:album:52welJVXcRq95bPK94cp4m", "name":
        "Video Games", "availability": {"territories": "AU BE CN CZ DK EE ES FI FR
        HK HR HU IL IN IT LT LV MY NL NO NZ PL PT RU SG SK TH TR TW UA ZA"}}, "name":
        "Video Games", "popularity": "0.79882", "external-ids": [{"type": "isrc",
        "id": "GBUM71107964"}], "length": 284.5, "href": "spotify:track:0lpdriQ7fB7zahU2f0btrv",
        "artists": [{"href": "spotify:artist:00FQb4jTyendYWaN8pK0wa", "name": "Lana
        Del Rey"}], "track-number": "1"}, {"album": {"released": "2012", "href": "spotify:album:4F5dVhgk569Du5cLfal3t5",
        "name": "Born To Die", "availability": {"territories": "AU BE CN CZ DK EE
        ES FI FR GB HK HR HU IE IN IT LT LV MY NL NO NZ PL PT RU SE SG SK TH TW UA
        ZA"}}, "name": "Video Games - Album Version Remastered", "popularity": "0.79477",
        "external-ids": [{"type": "isrc", "id": "GBUM71111621"}], "length": 281.946,
        "href": "spotify:track:7FDHI71Z3IInsEKuUn7Df8", "artists": [{"href[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=kaizers%20orchestra
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 383, "limit": 100, "offset": 0, "[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=Video%20Games%20Lana%20Del%20Rey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 89, "limit": 100, "o[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=this%20is%20a%20string%20this%20to
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 6, "limit": 100, "[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=song%20a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 46286, "limit": 100, "offset": 0, "query":
 [...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=song%20a%20abc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 20, "limit": 100, "offset": 0, "query"[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=song%20a%20b%20c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 47, "limit": 100, "offset": 0, "quer[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=a%20b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 17429, "limit": 100, "offset": 0, "query":
    [...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=a%20b%20c%20d%20e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 329, "limit": 100, "offset": 0, "qu[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 12 Jun 2012 16:34:02 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1842873, "limit": 100, "offset": 0, "query":
      [...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=a%201%202%203%204%205
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 107, "limit": 100, "offset": 0,[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=aao%20aao%20a%20a%20o%20a%20a%20o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "aao
        aao a a o a a o", "type": "track", "page": 1}, "tracks": []}'
  recorded_at: Fri, 15 Jun 2012 15:43:48 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=don't
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Timeout:
      - '10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Jun 2012 15:51:52 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 221975, "limit": 100, "offset": 0, "query":
   [...]
